<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CaptureDeviceIndex" value="3" />
		<add key="DeviceIpAddr" value="192.168.50.245" />
		<add key="MaxChannels" value="16" />
		<add key="AppName" value="FHMA" />
		<add key="Version" value="1.0.0" />
	</appSettings>
</configuration>
