<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CaptureDeviceIndex" value="4" />
		<add key="Filter" value="src host 192.168.50.245 and udp and len = 60 and udp[4:2] = 26" />
		<add key="MaxGraphs" value="16" />
		<add key="AppName" value="MyApplication" />
		<add key="Version" value="1.0.0" />
	</appSettings>
</configuration>
